<title>{{ titolo }}</title>
<meta name="description" content="{{ descrizione }}" />
<meta property="og:title" content="{{ titolo }}" />
<meta property="og:description" content="{{ descrizione }}" />
<meta property="og:image" content="{{ absolute_url( asset('assets/static/SEO.jpg') ) }}" />
<meta property="og:type" content="website">
<meta property="og:site_name" content="frascoli.it">