{% extends 'base-app.html.twig' %}

{% block title %}
    {{  include('app/seo.html.twig', {
        titolo: 'Storia di una tradizione veneziana',
        descrizione: 'É il racconto di un viaggio che parte dalla passione per la laguna e i suoi sapori e porta all’apertura di più locali dove poter assaporare specialità di pesce e cicchetti tipici.'
    }) }}
{% endblock %}

{% block body %}




<div class="hero-classic half-classic hero-m-full">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" color-interpolation-filters="sRGB">
        <filter id="fluted" primitiveUnits="objectBoundingBox">
            <feImage x="0" y="0" in="blur_0" result="image_0" crossorigin="anonymous" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1' color-interpolation-filters='sRGB'>
    <g>
      <rect width='1' height='1' fill='black' />
      <rect width='1' height='1' fill='url(%23red)' style='mix-blend-mode:screen' />
      <rect width='1' height='1' fill='url(%23green)' style='mix-blend-mode:screen' />
      <rect width='1' height='1' fill='url(%23yellow)' style='mix-blend-mode:screen' />
    </g>
    <defs>
      <radialGradient id='yellow' cx='0' cy='0' r='1' >
        <stop stop-color='yellow' />
        <stop stop-color='yellow' offset='1' stop-opacity='0' />
      </radialGradient>
      <radialGradient id='green' cx='1' cy='0' r='1' >
        <stop stop-color='green' />
        <stop stop-color='green' offset='1' stop-opacity='0' />
      </radialGradient>
      <radialGradient id='red' cx='0' cy='1' r='1' >
        <stop stop-color='red' />
        <stop stop-color='red' offset='1' stop-opacity='0' />
      </radialGradient>
    </defs>
  </svg>" preserveAspectRatio="none meet" width=".02" height="1" />
            <feTile in="image_0" result="tile_0" />
            <feGaussianBlur stdDeviation=".002" edgeMode="none" in="tile_0" result="bar_smoothness" x="0" y="0" />
            <feGaussianBlur stdDeviation=".03" edgeMode="none" in="SourceGraphic" result="blur_glass" />
            <feDisplacementMap scale=".08" xChannelSelector="R" yChannelSelector="G" in="SourceGraphic" in2="bar_smoothness" result="displacement_0" />
        </filter>
    </svg>

    <video autoplay="" loop="" muted="" playsinline="" defaultmuted="" preload="none">
        {# <source src="{{ asset('assets/static/hero1.webm') }}" type="video/webm"> #}
        <source src="{{ asset('assets/static/hero2.mp4') }}" type="video/mp4">
    </video>

    <div class="glass"></div>

    <h1 class="condensed">Storia di una tradizione</h1>
    <p>
        La storia di Marco Frascoli è il racconto di un viaggio, che parte dalla passione per la laguna e i suoi sapori e porta all’apertura di più locali dove poter assaporare specialità di pesce e cicchetti tipici. Marco cresce a Venezia, che diventa la cornice e l’ispirazione del suo percorso culinario. Nel corso della sua carriera nel settore ricettivo, gestisce due osterie cicchetterie ed una locanda con ristorante nel cuore della laguna. Da lì decide di portare la sua esperienza oltre i confini lagunari.
    </p>

    <hr size="300" class="vertical-scroll" />

    <a class="btn-main" href="{{ path('prenota') }}">
        Prenota ora
    </a>
</div>

<section >
    <div class="separator"><img src="{{ asset('assets/static/separator.png') }}" alt=""></div>
    <p class="sub">TI RIDI TI CHE TI SA NUAR</p>
    <h2 class="condensed">SCOPRIRE il bacaro</h2>
    <p class="piw">
        Per farlo, sceglie di proporre il suo concetto di bacaro senza rinunciare al vero stile veneziano. Frascoli Bacaro fa approdare Venezia in terraferma portando con sè la freschezza delle materie prime, la cura della tradizione e la creazione di un’atmosfera leggera. E sono proprio questi concetti a guidare le persone verso un’esperienza sincera e gioiosa all’interno dei locali. Il bacaro è da sempre luogo d’incontro che accoglie residenti e viaggiatori per festeggiare allegramente.
    </p>


    <video controls class="short-video" playsinline="" preload="none">
        <source src="{{ asset('assets/static/materie-prime.webm') }}" type="video/webm">
        <source src="{{ asset('assets/static/materie-prime.mp4') }}" type="video/mp4">
    </video>
</section>

<section >
    <div class="separator"><img src="{{ asset('assets/static/separator.png') }}" alt=""></div>
    <p class="sub">UN GOTO PAR MI E NA SPUMA PAR EL BOCIA</p>
    <h2 class="condensed">parlano di noi</h2>
    <p class="piw">
        I pareri dei nostri clienti sono lo specchio del nostro lavoro. Cibo gustoso e ottimo rapporto
        qualità prezzo sono molto importanti, ma sappiamo che il segreto sta nel servizio.
        Consideriamo la gentilezza, la cordialità e la disponibilità dei punti di forza che non
        possono mancare in un bacaro, senza però eccedere nell’invadenza.
    </p>

    <div class="grid-partners">
        <img src="{{ asset('assets/static/partners/vivi.jpg') }}" alt="">
        <img src="{{ asset('assets/static/partners/belmar.jpg') }}" alt="">
        <img src="{{ asset('assets/static/partners/pregis.jpg') }}" alt="">
        <img src="{{ asset('assets/static/partners/partesa.jpg') }}" alt="">
    </div>
    
</section>


{% endblock %}
